<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="670ef2c2-0a3a-47d5-b584-297f0fdadb71" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://ec2-54-159-73-65.compute-1.amazonaws.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="670ef2c2-0a3a-47d5-b584-297f0fdadb71fileName">http%3A%2F%2Fec2-54-159-73-65.compute-1.amazonaws.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://ec2-54-159-73-65.compute-1.amazonaws.com</con:endpoint>
  </con:endpoints>
</con:interface>
